/* Componente da Bateria Pincipal: Grid com 2 Colunas 90% 10% */
.Battery{
    position: relative;
    width: 100%;
    height: 100%;
}
.Battery-Grid{
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100%;

    justify-content: center;
    align-items: left;
    text-align: center;
    transition: 1s;
}
.Battery-Grid.Carregada{
    color: rgb(59, 197, 68);
}
.Battery-Grid.Boa{
    color: rgb(59, 197, 68);
}
.Battery-Grid.Fraca{
    color: rgb(171, 213, 2);
}
.Battery-Grid.Depletada{
    color: rgb(213, 55, 2);
}
.Battery-Grid.Desconhecida{
    color: rgb(85, 165, 162);
}

/* --- Primeiro Elemento do Grid: Texto --- */
.Battery-text{
    width: 90%;
    height: 2.5vh;
    overflow-x: scroll;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

/* --- Segundo Elemento do Grid: Ícone e Stack de Informações --- */
.Battery-icon{
    width: 10%;
    height: 2.6vh;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center; 
    padding: 0.2rem 0.2rem 0.2rem 0.2rem;
}
.Battery-stack{
    position: absolute;
    width: 100%;
    height: 4.2vh;
    top: 2.8vh;

    display: flex;
    flex-direction: column;
    justify-content: left;
    align-items: left;
    text-align: left;
    container-type: size;
}
.Battery-stack h4{
    padding: 0rem 0.4rem;
    font-size: clamp(0.2rem, 2cqi + 10cqh, 0.8rem);
}