/* Painel das configurações do lado direito */

.Configuration{
  --box-width: 30rem;
}

.configuration-button {
  width: auto ; 
  height: auto;
  position: absolute;
  top: 50%;
  right: 0rem;
  z-index: 3;

  display: flex;
  align-items: center;
  font-size: 3rem;
  color: rgb(82, 223, 0);
  cursor: pointer;
  transition: all ease-in-out 1s;
}
.configuration-button.disabled { transform: translate(0%, -50%); }
.configuration-button.enabled { transform: translate(0%, -50%); right: var(--box-width); }

.configuration-panel {
  border: 1px solid rgba(0, 0, 0, 0.781);
  border-right: none;
  border-radius: 0.5rem;
  background-color: #ffffff;
  position: absolute;
  top: 50%;
  z-index: 2;
  transform: translateY(-50%);

  width: var(--box-width);
  height: 80%;
  gap: 0.75rem;
  padding: 1.25rem 0.75rem;
  
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  transition: all ease-in-out 1s;
}
.configuration-panel.show { right: 0rem; }
.configuration-panel.hide { right: calc(-1 * var(--box-width)); }
.configuration-panel p {
  font-size: 1rem;
  font-weight: 500;
  position: absolute;
  
  bottom: 1rem;
  left: 50%;
  z-index: 1000;
  transform: translate(-50%, -50%);
}

/* Menu de opções na parte superior */
.configuration-options {
  width: 100%;
  height: 10%;
  position: absolute;
  top: 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.configuration-options > * { flex: 1; width: 0; } /* flex: 1; for the thingies to auto fill automatically */
.configuration-options-button {
  height: 100%;
  border:1px solid #1e7888;
  font-size: 1rem;
  font-weight: bold;
  color: rgb(0, 103, 163);
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

/* Box que se localiza uma linha (row de conteúdo) */
.configuration-box {
  width: calc(var(--box-width) * 0.7);
  height: 2.5rem;
  display: flex; align-items: center; justify-content: right;
  font-size: 1rem;
  color: #262626;
}
.configuration-box-switch {
  position: fixed;
  width: 15%;
  height: 2.5rem;
  background-image: url('../assets/Menu/SwitchBox.jpg');
  background-size: cover; background-position: center; background-repeat: no-repeat;
  z-index: 1;
  cursor: pointer;
}
.configuration-switch-slider{
  width: 50%;
  height: 100%;
  position: absolute;
  
  background-image: url('../assets/Menu/Slider.png');
  background-size: cover; background-position: center; background-repeat: no-repeat;
  z-index: 2;
  transition: all ease-in-out 1s;
}
.configuration-switch-slider.active{ right: 0rem; }
.configuration-box-text {
  position: relative;
  width: 85%;
  height: 2.5rem;
  right: 15%;
  display: flex; align-items: center; justify-content: center;
  padding: 1rem;
}
.configuration-box-button {
  position: fixed;
  width: 15%;
  height: 2.5rem;
  background-image: url('../assets/Menu/Slider.png');
  background-size: contain; background-position: center; background-repeat: no-repeat;
  z-index: 1;
  cursor: pointer;
}