.Intro {
  min-height: 100vh;
  position: relative; /* Needed for the ::before to position itself */
  overflow-x: hidden; /* Prevents scrollbars if the blur bleeds out */
  overflow-y: hidden;
}
.Intro.start::before {
  content: "";
  position: absolute;
  top: 0; left: 0; right: 0; bottom: 0;
  
  background-image: 
    linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), 
    url('../assets/Intro/fotodaporta.jpg');
  background-size: cover; background-position: center; background-repeat: no-repeat;
  z-index: -1;
  animation: backgroundEffect 4.5s ease-out forwards;
}
.Intro.disappear {
  content: "";
  position: fixed;
  top: 0; left: 0; right: 0; bottom: 0;
  
  background-image: 
    linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), 
    url('../assets/Intro/fotodaporta.jpg');
  background-size: cover; background-position: center; background-repeat: no-repeat;
  z-index: -1;
  animation: leaveEffect 3.5s ease-out reverse both;
}

main {
  flex: 1;
}

.Intro-title{
  position: absolute;
  transform: translate(-50%, 0%);
  display: flex;
  align-items: center;
  justify-content: center;
  animation: positionEffect 3.5s ease-in-out both 3.5s;
}
.Intro-title h1{
  font-size: clamp(0.4rem, 3cqi + 3cqb, 5rem);
  background: linear-gradient(110deg, #0eff1a, #00ffc8, #0e98c2cb);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  filter: drop-shadow(2px 2px 2px rgba(107, 107, 107, 0.329));
  animation: textEffect 3s ease-out forwards;
}


/* Classe para Componente da Bateria */
.Intro-Battery{
  display: none;
}


/* ------ Tela de Login Geral ------ */
.Intro-login {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 50vw;
  height: 20%;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2vh;
  --anim-duration: 3s;
  --anim-delay: 4.5s;
  animation: invisibleEffect var(--anim-duration) ease-in-out both var(--anim-delay);
  container-type: size;
}
.Intro-login-wrapper{
  width: 100%;
}
.Intro-login-label {
  position: absolute;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;

  width: 10vw;
  height: 5vh;
  transform: translate(-100%, 0%);
}
.Intro-login-label h6 {
  color: rgb(47, 211, 211); 
  font-size: clamp(0.4rem, 4cqi + 4cqh, 1.6rem);
  font-weight: bold;
  text-align: center;
}
.Intro-image{
  position: absolute;
  width: 15rem;
  height: 15rem;
  left: 110%;
  background-image: url('../assets/Intro/undraw_five-year-plan_7hwj.svg');
  background-size: 100%; background-position: center; background-repeat: no-repeat;
}
.Intro-login-headerbar {
  position: absolute;
  width: 60%;
  height: 5vh;
  top: 0%;
  left: 50%;
  transform: translate(-50%, -100%);
  display: flex;
  align-items: center;
  justify-content: center;
  container-type: inline;
  white-space: nowrap;
}
.Intro-login-headerbar p {
  font-size: clamp(1.2rem, 3cqi + 3cqh, 2rem);
  color: rgb(73, 253, 253);
}
.Intro-login-bar {
  width: 100%;
  height: 5vh;
  background: rgba(195, 253, 255, 0.226);
  border-radius: 0.9rem;
  border: 1px solid rgba(54, 207, 207, 0.781);
  outline: none;
  font-size: 1.5rem;
  font-weight: 200;
  text-align: center;
  padding: 0.2rem 0.5rem;
  color: #fbfffb;
}
.Intro-login-bar p {
  position: fixed;
  z-index: 1000;
}
.Intro-login-bar::placeholder {
  color: #fbfffb;
}

.Intro-login-button {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translate(-50%, +100%);
  margin: 0 auto;
  padding: 0rem 1rem;
  border-radius: 0.6rem;
  border: 1px solid #1ff82a1a;

  transition: 0.5s;
  font-size: clamp(0.4rem, 3cqi + 3cqh, 1.4rem);
  color: #1ff82a;
}
.Intro-login-button:hover {
  border-color: #054d08;
  text-shadow: 0 0 6px rgba(31, 248, 42, 0.8);
  box-shadow: 0 0 4px rgba(31, 248, 42, 0.4), inset 0 0 8px rgba(31, 248, 42, 0.2);
  transform: translate(-50%, +100%) scale(1.06);
  cursor: pointer;
}

/* --- Botão de Retorno Geral --- */
.Intro-backbutton {
  position: fixed;
  top: 5%;
  left: 5%;
  transform: translate(-50%, 0%);
  display: flex;
  align-items: center;
  
  --backbutton-color: 15, 230, 255;
  color: white;
  font-size: clamp(0.4rem, 3cqi + 3cqb, 4rem);
  transition: 0.4s;
}
.Intro-backbutton:hover {
  text-shadow: 0 0 5px rgba(var(--backbutton-color), 0.8);
  transform: translate(-50%, 0%) scale(1.1);
  cursor: pointer;
}


/* --- Tela Auxiliar: Box para as opções de entrada --- */
.Intro-configbox {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 60%;
  height: 30%;
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: center;
  /* gap: 1rem; */
  container-type: size;
}
.Intro-configbox::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 3rem;
  /* https://grabient.com/HQBgrAzANKAsAcMT0cAjLAnDNYDsOsATDEUSKWicGWlBMHmtA3kS8AGybTojRpQ8MDEw8oAWjicgA?style=angularSwatches&steps=13 */
  background: conic-gradient(from 90deg, #131319 0.000deg, #131319 27.692deg, #17181d calc(27.692deg + 0.1deg), #17181d 55.385deg, #1c1c21 calc(55.385deg + 0.1deg), #1c1c21 83.077deg, #202125 calc(83.077deg + 0.1deg), #202125 110.769deg, #252629 calc(110.769deg + 0.1deg), #252629 138.462deg, #2a2b2e calc(138.462deg + 0.1deg), #2a2b2e 166.154deg, #2f2f32 calc(166.154deg + 0.1deg), #2f2f32 193.846deg, #333437 calc(193.846deg + 0.1deg), #333437 221.538deg, #38383b calc(221.538deg + 0.1deg), #38383b 249.231deg, #3c3d40 calc(249.231deg + 0.1deg), #3c3d40 276.923deg, #404144 calc(276.923deg + 0.1deg), #404144 304.615deg, #434447 calc(304.615deg + 0.1deg), #434447 332.308deg, #47484b calc(332.308deg + 0.1deg) 360.000deg);
  filter: opacity(0.1);
  z-index: -1;
}
.Intro-configbox-headerbar {
  position: absolute;
  width: 60%;
  height: 5vh;
  top: 0%;
  left: 50%;
  transform: translate(-50%, -100%);
  display: flex;
  align-items: center;
  justify-content: center;
  container-type: inline;
  white-space: nowrap;
}
.Intro-configbox h2{
  font-size: clamp(1rem, 3cqi + 3cqh, 1.5rem);
  color: rgb(73, 253, 253);
}
.Intro-configbox h3{
  font-size: clamp(0.6rem, 2cqi + 2cqh, 1.2rem);
  color: rgba(73, 253, 253, 0.856);
  text-align: left; /* Modificado no inline css do Intro.tsx */
}
.Intro-configbox-textwrapper{
  display: flex;
  flex-direction: row;
  align-items: center;
}
.Intro-configbox-textwrapper p{
  font-size: clamp(0.4rem, 1cqi + 1cqh, 1rem);
  color: rgba(90, 162, 162, 0.96);
  text-align: justify; /* Modificado no inline css do Intro.tsx */
}
.Intro-configbox-slider{
  position: relative;
  transform: translate(+50%, 0%);
  border: 1px solid rgba(73, 253, 253, 0.774);
  border-radius: 3rem;
  background-color: rgba(60, 70, 75, 0.6);
  width: 3vw;
  height: 100%;
  cursor: pointer;
  transition: 0.7s;
}
.Intro-configbox-slider.active {
  background-color: rgba(73, 253, 253, 0.774);
}
.Intro-configbox-slider-dot{
  position: absolute;
  top: 50%;
  transform: translate(0%, -50%);
  width: 40%;
  height: 80%;
  
  background: rgba(0, 0, 0, 0.822);
  border: 1px solid rgb(0, 0, 0);
  border-radius: 3rem;
  z-index: 10;
  transition: 1s;
}
.Intro-configbox-slider-dot.inactive{
  left: 5%;
}
.Intro-configbox-slider-dot.active{
  animation: dotEffect 0.7s ease-in-out forwards 0s;
}
.Intro-second-image {
  position: absolute;
  width: 15rem;
  height: 15rem;
  left: 69%;
  transform: translateX(50%);
  background-image: url('../assets/Intro/undraw_personal-notes_n75r.svg');
  background-size: 100%; background-position: center; background-repeat: no-repeat;
}


@keyframes backgroundEffect {
  0% {
    filter: blur(20px) brightness(0.15);
    transform: scale(1.8);
  }
  100% {
    filter: blur(0px) brightness(0.35);
    transform: scale(1);
  }
}
@keyframes textEffect {
  0% {
    filter: blur(5px) brightness(0.4);
    transform: scale(1.2);
  }
  100% {
    filter: blur(0px) brightness(1);
    transform: scale(1);
  }
}
@keyframes positionEffect {
  0% {
    top: 50%;
    left: 50%;
  }
  100% {
    top: 5%;
    left: 50%;
  }
}
@keyframes invisibleEffect {
  0% {
    filter:opacity(0%)
  }
  100% {
    filter:opacity(100%)
  }
}
@keyframes leaveEffect {
  0% {
    filter: blur(15px) brightness(0.05);
    transform: scale(1.8);
  }
  100% {
    filter: blur(0px) brightness(0.35);
    transform: scale(1);
  }
}
@keyframes dotEffect{
  0% {
    left: 5%;
  }
  100% {
    left: 55%;
  }
}