.Map{
    position: relative;
    width: 100%;
    height: 25vh;
    border: 1px solid rgb(14, 223, 101);
    overflow: scroll;
}
.Map-canvas{
    transform: scaleX(-1);
}
.Map-navigator{
    position: absolute;
    width: 2rem;
    height: 2rem;

    top: 0%;
    left: 0%;

    transform: rotate(-45deg);
    transform: translate(-50%, -50%);
    z-index: 10;
    color: rgb(0, 223, 164);
}