main {
  flex: 1; 
}

.App{
  min-height: 100vh;
  position: relative;
  overflow-x: hidden;
  overflow-y: hidden;
  animation: appEffect forwards 5.5s ease-in;
}
.App.light{
  background: radial-gradient(circle, #ffffff, #eeeeeee0);
}
.App.dark::before{
  content: "";
  position: absolute;
  top: 0; left: 0; right: 0; bottom: 0;
  
  background-image: 
    linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), 
    url('./assets/Intro/fotodaporta.jpg');
  background-size: cover; background-position: center; background-repeat: no-repeat;
  z-index: -1;
  animation: backgroundEffect 6s ease-out forwards;
}

.App-header {
  position: absolute;
  top: 10%;
  left: 50%;
  width: 25%;
  height: 10%;
  transform: translate(-50%, -50%);
  animation: invisibleEffect ease-in 3s 2.5s both;

  display: flex;
  justify-content: center;
  align-items: center;
  container-type: size;
}
.App-header h1 {
  font-size: clamp(0.8rem, 9cqi + 9cqh, 3rem);
  background: linear-gradient(110deg, #1ff82a, #1ff82a, #12eed1);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  filter: drop-shadow(2px 2px 2px rgba(107, 107, 107, 0.329));
  white-space: nowrap;
}

@keyframes appEffect {
  0% { filter:brightness(0%)}
  100% { filter:brightness(100%)}
}