/* Reset all elements for consistency (Browser defaults included) */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Global font and rendering optimization */
:root {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* Default archive */
#root {
  width: 100%;
  max-width: 100vw;
  min-height: 100vh;
  margin: 0 auto;
  padding: 0 auto;
  text-align: center;
}