main {
  flex: 1; 
}

.App{
  min-height: 100vh;
  color: rgb(0, 0, 0);
  background: radial-gradient(circle, #ffffff, #eeeeeee0);
  animation: appEffect forwards 5.5s ease-in;
  overflow-x: hidden;
  
}

.App-header {
  position: absolute;
  top: 10%;
  left: 50%;
  width: auto;
  height: auto;
  transform: translate(-50%, -50%);
  animation: invisibleEffect ease-in 3s 2.5s both;
}
.App-header h1 {
  font-size: 3.5rem;
  padding: 2rem;
  line-height: 1.1;
  margin-bottom: 0.5rem;
  background: linear-gradient(110deg, #1ff82a, #1ff82a, #12eed1);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  filter: drop-shadow(2px 2px 2px rgba(107, 107, 107, 0.329));
}

@keyframes appEffect {
  0% { filter:brightness(0%)}
  100% { filter:brightness(100%)}
}